.root {
  height: 100vh;
  box-sizing: border-box;
}

.properties-panel {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 100%;
  justify-content: start;
  gap: 10px;
}

.context-display {
  height: 35%;
  padding-top: 0px;
}

.inside-content-display {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  margin: 5px;
  margin-top: 10px;
  box-shadow: none;
}

.header {
  font-size: larger;
  margin: 5px;
}

.project-name-panel {
  height: 10%;
}

.colors-panel {
  padding: 10px;
}

.adding-panel {
  height: 60%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  border: none;
}

.edit-state-panel{
  display: flex;
  flex-direction: column;
}

.edit-state-panel .header{
  margin-top: 10px;
}

.inner-edit-state-panel {
  padding: 5px;
}

.editing-panel {
  width: 100%;
}

.models-list {
  overflow-y: auto;
}

.scrollbar-container {
  display: flex;
  flex-direction: column;
  max-height: 90%;
  min-height: 90%;
  padding: 10px;
  margin: 5px;
  box-shadow: none;
}

.button-container {
  margin-bottom: 20px;
  padding-bottom: 30px;
  justify-content: center;
}

.button-panel {
  display: flex;
  justify-content: space-between;
  height: fit-content;
  margin: 20px;
  margin-bottom: 10px;
}

.delete-obj-button {
  background-color: #ff6a6a;
}

.save-button {
  height: 35px;
}