.root {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.properties-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px;
}

.header {
    font-size: larger;
    margin: 5px;
}

.project-name-panel {
    height: 10%;
}

.adding-panel {
    height: 45%;
    display: flex;
    flex-direction: column;
}

.editing-panel {
    height: 45%;

}

.button {
    align-self: flex-end;
    margin: auto;
}