.root {
  height: 95%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.properties-panel {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 100%;
  justify-content: start;
}

.header {
  font-size: larger;
  margin: 5px;
}

.project-name-panel {
  height: 10%;
  padding: 10px;
}

.colors-panel {
  padding: 10px;
}

.color-input {
  display: flex;
  justify-content: space;
  align-items: center;
}

.color-label {
  width: 40%;
}

.color-restore {
  padding: 5px;
  height: 100%;
}

.adding-panel {
  height: 60%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
}

.editing-panel {
  padding: 10px;
  height: 30%;
}

.models-list {
  overflow-y: auto;
}

.scrollbar-container {
  display: flex;
  flex-direction: column;
  max-height: 90%;
  min-height: 90%;
  border: 2px solid var(--purple-accent-button);
  border-radius: 3px;
  padding: 10px;
}

.button-container {
  margin: auto;
  margin-bottom: 20px;
}