.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5px;
}

.name {
  font-weight: bold;
}

.button-panel {
  display: flex;
  justify-content: space-between;
  height: fit-content;
  margin: 15px;
  margin-bottom: 6px;
  margin-top: 10px;
}

.delete-obj-button {
  background-color: #ff6a6a;
}