.slider-container {
  margin: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-between;
  padding-top: -10px;
  height: 15px;
}

.axis-label {
  padding: 2px;
  margin-right: 15px;
}

.slider {}

.value-label {
  margin-left: 15px;
  width: 50px;
}