.color-input {
  display: flex;
  justify-content: space;
  align-items: center;
    
}

.color-label {
  font-size: 18px;
  width: 130px;
}

.color-restore {
  height: 100%;
}

.color-input .MuiOutlinedInput-root {
  border: none;
  margin: 0;
  width: 150px;
}

.color-input input {
  padding: 5px;
  margin: 0;
}

.color-restore svg {
    fill: var(--purple-accent-button);
  }
  
