.root {
  height: 100%;
}

.header {
  font-size: larger;
  margin: 5px;
}

.projectNamePanel {
  height: 10%;
}

.propertiesPanel {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.addingPanel {
  height: 60%;
  display: flex;
  flex-direction: column;
}

.editingPanel {
  height: 30%;
}

.modelsList {
  border: solid;
  flex-grow: 1;
}

.button {}